{% extends "wrapper.html" %}
{% block content %}
<script>
    document.title = 'Определить тональность текста';
</script>
<div class="page-prediction">
    <form method="POST" action="#">
        {% csrf_token %}
        <div class="main_text">
            <h1 class="page_title">Тональность | Sentiment analysis</h1>
            <textarea name="text" class="form_content" placeholder="Введите текст" required></textarea>
            <div>
                <span>&#9733;</span>
                <div class="hint">
                    Вспомните ситуацию, которая Вас потрясла.
                    </br>
                    Опишите свои чувства/эмоции. Хотели бы Вы испытать их еще раз?
                </div>
            </div>
            <div class="action">
               <button class="send_button" type="submit">Отправить</button>
            </div>
        </div>
    </form>
    {% if response %}
    <div class="result">
        <h1 >
            Результат
        </h1>
        {% if query_result.status == 'OK' %}
            {% if query_result.label == 'low' %}
                <article class="result">
                    <h3>Уровень тревожности автора текста - Низкий</h3>
                    Низкая тревожность сигнализирует о том, что испытуемый нуждается в повышении чувства
                    ответственности и осознании реальных мотивов собственной деятельности. Но иногда очень
                    низкая тревожность является свидетельством активного вытеснения личностью высокой
                    тревоги с целью показать себя в «лучшем свете».
                </article>
            {% elif query_result.label == 'mid' %}
                <arctile class="result">
                    <h3>Уровень тревожности автора текста - Умеренный</h3>
                </arctile>
            {% else %}
                <arctile class="result">
                    <h3>Уровень тревожности автора текста - Высокий</h3>
                    Высокая тревожность предполагает склонность к появлению состояния тревоги у человека в
                    ситуациях оценки его компетентности. В этом случае следует снизить субъективность значимость
                    ситуации и задач и перенести акцент на осмысление деятельности и формирование чувства
                    уверенности в успехе.
                </arctile>
            {% endif %}
            {% elif query_result.status == 'Error' %}
                <div class="result-error">
                    Ошибка: {{ query_result.message }}
                </div>
                <div class="result-error">
                    Попробуйте ввести другой текст
                </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
