<!DOCTYPE html>

{% load staticfiles %}

<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Sentiment Analyzer</title>

        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
    </head>

    <body>
        <header>
            <button onclick="handleRedirect('Главная')">Главная</button>
            <button onclick="handleRedirect('Анализ')">Анализ</button>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="footer">SSU 2021. Battalova Nur Aliia</footer>
    </body>
    <script>
        const handleRedirect = (type) => {
            if (type === 'Главная') {
                window.location.replace('main')
            } else if (type === 'Анализ') {
                window.location.replace('predict')
            }
        }
    </script>
</html>
