<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Sentiment Analyzer</title>
    </head>

    <body>
        <header>
            <ul id="navbar">
                <li>
                    <a onclick="handleRedirect('Главная')">Главная</a>
                </li>
                <li>
                    <a onclick="handleRedirect('Анализ')">Анализ</a>
                </li>
            </ul>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="footer">&#169 SSU 2021. Battalova Nur Aliia</footer>
    </body>
    <script>
        const handleRedirect = (type) => {
            if (type === 'Главная') {
                window.location.replace('main')
            } else if (type === 'Анализ') {
                window.location.replace('predict')
            }
        }
    </script>
</html>
