body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #a3ab01;
  padding: 10px;
  border-bottom: 1px solid black;
}

#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li {
  display: inline;
  color: #fefefe;
}

#navbar li:hover {
  color: #000;
}

#navbar li:after {
  content: '|';
  color: #fefefe;
}

form {
  width: fit-content;
  margin: auto;
}

arctile {
  height: 100%;
}

.result {
  padding: 10px;
  margin: auto;
}

textarea {
  width: 500px;
  height: 150px;
  border-radius: 5px;
}

.page-prediction {
  width: fit-content;
  margin: auto;
}

.action {
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid black;
  background-color: #a3ab01;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.send_button {
  padding: 10px;
  background-color: #a3ab01;
  border-radius: 5px;
}

.send_button:hover {
  background: linear-gradient(#a3ab01, #6a6a6a);
}

.result-error {
  color: #FF4500;
}
